/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-inter);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weigth-main);
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 368px;
  margin-top: 100px;
  margin-bottom: 98px;
  background-color: var(--bg-color-container);
}
.text-header {
  font-family: var(--font-PressStart2P);
}
.content-setting-container {
  margin-bottom: 50px;
  background-color: white;
}
.margin_setting_firts_blok {
  margin-bottom: 52px;
}
.header-of-block-main {
  padding: 4px 10px;
  font-family: var(--font-inter);
  font-size: var(--font-weight-variable);
}
.image-of-block-main {
    --clamp-rubber-width: clamp(375px, 100%, 700px);
  width: var(--clamp-rubber-width);
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
}
.text-of-block-main {
  font-family: var(--font-inter);
  font-size: var(--font-weight-main);
}
.btn {
  display: flex;
  align-self: end;
  margin-bottom: 25px;
}





/*сердце рядом с кнопкой*/
.card__icon-button {
  border: none;
  background-color: white;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border: 2px solid #000;
  transition: border 0.3s ease;
}
.icon-core,
.icon-main-body {
  fill: transparent;
}
.icon-contour {
  fill: var(--counte-like-color);
  transition: fill 0.1s linear;
}
.icon-core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}
.icon-main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}
.like-icon .icon-sparks {
  opacity: 0;
}
.like-icon:hover .icon-main-body {
  fill: var(--counte-like-color);
  transition: fill 0.3s 0.05s linear;
}
.like-icon:hover .icon-core {
  fill: var(--counte-like-color);
  transition: fill 0.3s linear;
}
.like-icon:active .icon-main-body {
  fill: var(--main-body-like-color);
  transition: fill 0.3s linear 0.05s;
}
.like-icon:active .icon-core {
  fill: var(--main-body-like-color);
  transition: fill 0.3s linear;
} 
.like-icon {
  transform-origin: center;
  cursor: pointer;
}
.like-icon.is-liked .icon-contour {
  fill: var(--change-color-icon);
  transition: fill 0.3s 0.06s linear;
}
.like-icon.is-liked .icon-core {
  fill: var(--change-color-icon);
  transition: fill 0.3s linear;
}
.like-icon.is-liked .icon-main-body {
  fill: var(--change-color-icon);
  transition: fill 0.3s 0.05s linear;
}
.like-icon.is-liked {
  animation: scale-heart 0.3s 0.1s ease-in;
}
.like-icon.is-liked .icon-sparks {
  animation: scale-sparks 0.3s 0.3s ease-in;
}
/*сердце рядом с кнопкой-конец*/




/*анимация кнопки полностью*/
.card__like-button {
  position: relative;
  display: flex;
  align-self: end;
  width: 169px;
  height: 38px;
  overflow: hidden;
  background-color: white;
}
.card__like-button:focus {
  box-shadow: 2px 2px 0px 0px #000;
  outline: none;
  transition: box-shadow 0.3s ease;
}
.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%); 
}
.card__like-button:hover::before {
  color: white; 
  transform: translateX(0);
}
.button__text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  min-width: 130px;
  height: 38px;
  min-height: 38px;
  margin-left: 7px;
  color: white;
  font-family: var(--font-PressStart2P);
  mix-blend-mode: difference;
}
/*анимация кнопки полностью - конец*/


/*лейбл*/
.image-wrapper {
   position: relative;
}
.label {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 14px; 
  opacity: 0.5;
  font-family: var(--font-PressStart2P);
  font-size: var(--font-weight-main); 
  mix-blend-mode: hard-light;
}
@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
  .label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-fill-color: transparent;
  }
}
/*лейбл - конец*/



/*все фильтры изображениям*/
.saturate_block {
  filter: saturate(20%);
}
.saturate {
  filter: saturate(500%);
}
.brightness {
  filter: brightness(80%);
} 
.invert {
  filter: invert(0.8);
}
.sepia {
  filter: sepia(90%);
}
.blur {
  filter: blur(1.2rem);
}
.hue-rotate {
  filter: hue-rotate(90deg) blur(0.1rem) brightness(70%) contrast(50%) saturate(170%);
}
/*все фильтры изображениям - конец*/


/*полный подвал с кнопкой*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.btn_bottom {
  min-width: 335px;
  height: 55px;
}
.save_btn {
  display: flex;
  align-items: center;
  height: 55px;
  border: 2px solid #000;

}
.button__text_save {
  min-width: 266px;
  margin-right: 20px;
  font-family: var(--font-PressStart2P);
}
.icon-save_bottom {
  min-width: 39px;
  min-height: 39px;
  margin-right: 8px;
  margin-right: 20px;
}
.popup__container {
  display: flex;
  flex-direction: row;
  max-width: 293px;
  margin-bottom: 30px;
}
.popup__controller {
  justify-self: center;
  width: 293px;
  height: 38px;
  font-family: var(--font-PressStart2P);
  background-color: white;
}
.popup__text {
  min-height: 63px;
  font-family: var(--font-PressStart2P);
  font-weight: var(--font-weight-main);
  text-transform: uppercase;
}
form {
  display: flex;
  justify-content: center;
  align-content: center;
}
.dialog-id {
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 30px 20px;
  min-width: 353px;
  min-height: 191px;
  border: 2px solid var(--accent-color);
  padding: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  background-color: var(--bg-color);
  inline-size: 357px;
}
.dialog-id[open] {
  display: grid;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}
button:hover {
  cursor: pointer;
}
@media (width <= 375px) {
  body {
    margin: 0;
  }
  .header { 
    margin-bottom: 100px;
  }

}
/*полный подвал с кнопкой - конец*/