/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', sans-serif;
  --font-size-button: 14px;
  --font-size-variable: 18px;
  --font-size-label: 14px;
  --font-weight-main: 410;
  --font-weight-title: 400;
  --gradient-horizontal: repeating-linear-gradient(
    to right,
    #d3d3d3 0, #d3d3d3 2px,
    transparent 2px, transparent 4px
  );
  --card-title-font-weight: 700;
  --main-card-font-weight: 400;
  --gradient-vertical: repeating-linear-gradient(
    to bottom,
    #d3d3d3 0, #d3d3d3 2px,
    transparent 2px, transparent 4px
  );
  --main-gradient: linear-gradient(
    to bottom,
    #e7e7e7 0%,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );
  --combined-background: var(--gradient-horizontal), var(--gradient-vertical), var(--main-gradient);
  --clamp-rubber-width: clamp(375px, 80%, 700px);
  --clamp-rubber-height: clamp(327px, 80%, 960px);
  --bg-color-container: white;
  --stroke-color: #fff;
  --counte-like-color: black;
  --core-like-color: white;
  --sparks-like-color: red;
  --main-body-like-color: red;
  --change-color-icon: red;

}